body {
    text-align: center;
    background-image: url("./backg2.0.PNG");
    font-family: "Happy Monkey", system-ui;
    font-weight: 400;
    color: #ffffff;
}

#header {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#photo {
    margin: 20px 0px;
    width: 180px;
    border-radius: 50%;
    border: 5px solid #0077b6;
}

h1,h2,h3,h4 {
    text-shadow: 0px 0px 3px black;
}

#bday_age {
    background-color: #0077b6;
    padding: 12px 18px;
    border-radius: 50%;
}

#bday_date {
    background-color: #0077b6;
    padding: 6px 12px;
    border-radius: 50%;
    margin: 0px;
    font-style: italic;
}


.gift_wrap {
    font-size: 12px;
    margin-top: 80px;
}

.gifts {
    margin: 10px auto;
    background-image: url(./giftwrap5.png);
    background-size: cover;
    width: 400px;
    height: 400px;
    border: 6px solid #ffffff;
    border-radius: 20px;
}

#gift7 {
    height: 200px;
    background-image: url("./giftwrap@.png");
}

#gift1:hover {
    background-image: url("./happy.webp");
}

#gift2:hover {
    background-image: url("./flowers2.PNG");
}

#gift3:hover {
    background-image: url("./giphy\ \(1\).gif");
}

#gift4:hover {
    background-image: url("./her.jpg");
}

#gift5:hover {
    background-image: url("./paps.jpg");
}

#gift6:hover {
    background-image: url("./grootwish.jpg");
}

#gift7:hover {
    background-image: url("./cheers.gif");
}

.gift_title {
    width: 400px;
    margin: 5px auto;
}

.gift_hint {
    margin-top: 0px;
}

#end {
    font-size: 25px;
    font-style: italic;
    margin: 80px 0 30px 0;
}